@font-face {
    font-family: 'TimesDotRom';
    src: url('./TimesDotRom.woff') format('woff')
}

@font-face {
    font-family: 'terminal-grotesque';
    src: url('./terminal-grotesque.woff') format('woff')
}

html {
    --color-1: #fff9d2;
    --color-2: #838b85;
    --bg: #1a1a1a;
}

body {
    background-color: white;
    color: black;
    background: var(--color-1);
    font-family: "TimesDotRom", serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
p {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "terminal-grotesque", monospace;
    line-height: clamp(1rem, 1.5vw, 1.5rem);
    padding-bottom: 1rem;
}

h1 {
    font-size: clamp(2.2rem, 2.5vw, 2.5rem);
    line-height: clamp(2rem, 2.2vw, 2.2rem);
}

h2 {
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    line-height: clamp(1.25rem, 1.25vw, 1.4rem);
}

h3 {
    margin-top: 1rem;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
}

p {
    line-height: clamp(1.2rem, 1.5vw, 1.5rem);
}

quote {
    display: inline-block;
    font-family: "terminal-grotesque", sans-serif;
    padding: 10px;
}

figure {
    margin: 10px 0;
    padding: 0;
}

figcaption {
    margin: 0;
    padding: 0;
    font-size: .9rem;
    font-family: "terminal-grotesque", sans-serif;
}

::selection {
    background-color: yellow;
    color: black;
}
